New User
<!--
<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="user_username">Username:</label>
    <input type="text" name="user[username]" id="user_username">
  </div>

  <div>
    <label for="user_email">Email:</label>
    <input type="email" name="user[email]" id="user_email">
  </div>

  <div>
    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user_password">
  </div>

  <input type="submit" value="Create">
</form>
-->

<!--
<%= form_tag("/users") do %>
  <div>
    <%= label_tag('user_username', 'Username:') %>
    <%= text_field_tag('user_username') %>
  </div>

  <div>
    <%= label_tag('user_email', 'Email:') %>
    <%= email_field_tag('user_email') %>
  </div>

  <div>
    <%= label_tag('user_password', 'Password:') %>
    <%= password_field_tag('user_password') %>
  </div>

  <%= submit_tag('Create') %>
<% end %>
-->

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username, "Your user name here" %>
    <%= form.text_field :username, value: "Chris" %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'example@example.com' %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <%= form.submit %>
<% end %>